{% extends 'base.html' %}

{% block title %} Students list {% endblock %}

{% block content%}
<form action="{% url 'students' %}" method="get">
    <input name="first_name">
    <input name="submit" type="submit">
</form>
<br>
<button onclick="document.location='{% url 'students-add' %}'">Add student</button>
<br><br>

<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birth date</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>

{% for student in students %}
    <tr>
        <td><a href="{% url 'students-edit' student.id %}">{{ student.id }}</a></td>
        <td>{{ student.first_name}}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.birth_date }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.telephone }}</td>
        <td>{{ student.address }}</td>
    </tr>
{% endfor %}
</table>
{% endblock content%}